---
import Layout from "#core/layouts/Layout.astro";
import TitleSection from "#core/layouts/TitleSection.astro";
import WeatherModule from "#weather/module";
import "#weather/styles/output/weather.css";
---

<Layout title="Dan Serio | Weather">
  <TitleSection id="weatherTitle">
    <h1>Weather</h1>
    <p>A simple weather application.</p>
  </TitleSection>
  <WeatherModule client:only="react" />
</Layout>
