---
import Layout from "#core/layouts/Layout.astro";
import TitleSection from "#core/layouts/TitleSection.astro";
---

<Layout title="Dan Serio | About">
  <TitleSection id="aboutTitle">
    <h1>About</h1>
  </TitleSection>
</Layout>
